<h2>Streama Web</h2>
<h3>Goals:</h3>
<p>Experiments to gather better use cases of activities streams:</p>
<ul>
  <li>Public and private streams</li>
  <li>JSON rendering (with DisplayCase gem (see <%= link_to "Github DisplayCase", "https://github.com/objects-on-rails/display-case" %></li>
</ul>

<h3>Contributions</h3>
Inspirations by:
<ul>
  <li>ActivityStreams working group and mailing list: <%= link_to "Google Groups ActivityStreams", "http://groups.google.com/group/activity-streams" %></li>
  <li>Streama gem, mailing list: <%= link_to "Google Groups Streama", "http://groups.google.com/group/streama" %></li>
  <li>You! Just take part either by submitting pull requests for this application at Github <%= link_to "streama_testapp", "https://github.com/mulderp/streama_testapp" %>, by taking part in discussions in of the mailing lists. 
</ul>


