<div class="container">

  
  <div id="network-update" class="span12">
    <%= form_for(@network_update, :html => {:class => "well span5"}) do |f| %>
      <span style="margin-left:30px; margin-top: 10px; margin-bottom: 10px">
        <h4>What is happening in the world?</h4>
      </span>
      <div class="control-group">
        <%= f.text_field :content, :value => "", :placeholder => "Share links, news, ideas here ...", :size => 100, :class => "update-input span5" %>
      </div>
      <%= submit_tag "Send this", :class => "btn" %>
    <% end %> 
  </div>

  <div class="container">
    <ul id="activities">
      <%= @activities.render(self) %>
    </ul>
  </div>
  <a href="https://github.com/mulderp/streama_testapp"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
</div>
