<h1>Activities Admin</h1>
<% @activities.each do |admin_activity| %>
  <%= admin_activity.inspect %></br>
  <%= link_to "Destroy", admin_activity_path(admin_activity), :method => :delete, :confirm => "Really delete?" %>
<% end %>
